[run]
source = .
omit =
    test_sliding_window_max.py
    run_*.py
    benchmark_*.py
    verify_*.py
    before_pylint/*

[report]
include =
    sliding_window_max.py
    sliding_window_max_naive.py
precision = 2
show_missing = True

[html]
directory = ../my_coverage_result
